<div class="footer">
	<dl class="friend_link">
		<dt>友情链接:</dt>
		<dd><a href="http://www.shicimingju.com/" target="_blank">诗词名句网</a></dd>
		<dd><a href="http://www.zhsc.net/" target="_blank">中华诗词网</a></dd>
		<dd><a href="http://www.gushiwen.org/" target="_blank">古诗文网</a></dd>
		<dd><a href="http://www.fanw8.com/" target="_blank">古诗词大全</a></dd>
		<dd><a href="http://www.52shici.com/">诗词吾爱网</a></dd>          
	</dl>
	<div class="about">一个热爱写代码,热爱生活,热爱国学的程序员</div>
	<div class="wechat"></div>
</div>