<div class="nav_wrapper">
	<ul class="nav nav-pills wrapper">
		<li role="presentation"><a href="/category/xianqin">先秦</a></li>
		<li role="presentation"><a href="/category/hanchao">汉朝</a></li>
		<li role="presentation"><a href="/category/weijin">魏晋</a></li>
		<li role="presentation"><a href="/category/nanbeichao">南北朝</a></li>
		<li role="presentation"><a href="/category/suichao">隋朝</a></li>
		<li role="presentation"><a href="/category/tangdai">唐代</a></li>
		<li role="presentation"><a href="/category/songdai">宋代</a></li>
		<li role="presentation"><a href="/category/jinchao">金朝</a></li>
		<li role="presentation"><a href="/category/liaochao">辽朝</a></li>
		<li role="presentation"><a href="/category/yuanchao">元朝</a></li>
		<li role="presentation"><a href="/category/mingchao">明朝</a></li>
		<li role="presentation"><a href="/category/qingchao">清朝</a></li>
		<li role="presentation"><a href="/category/jindangdai">近当代</a></li>
	</ul>
</div>