 <div class="sidebar_l fl">
 	<div class="category sidebar_item">
 		<h2 class="title">分类标签</h2>
 		<ul class="category_content">
 			<li><a class="mark_item" href="/mark/shanshuishi">山水诗</a></li>
 			<li><a class="mark_item" href="/mark/tianyuanshi">田园诗</a></li>
 			<li><a class="mark_item" href="/mark/songbieshi">送别诗</a></li>
 			<li><a class="mark_item" href="/mark/aiqingshi">爱情诗</a></li>
 			<li><a class="mark_item" href="/mark/lizhishi">励志诗</a></li>
 			<li><a class="mark_item" href="/mark/biansaishi">边塞诗</a></li>
 			<li><a class="mark_item" href="/mark/aiguoshi">爱国诗</a></li>
 			<li><a class="mark_item" href="/mark/daowangshi">悼亡诗</a></li>
 			<li><a class="mark_item" href="/mark/zhanzhengshi">战争诗</a></li>
 			<li><a class="mark_item" href="/mark/youqingshi">友情诗</a></li>
 			<li><a class="mark_item" href="/mark/guiyuanshi">闺怨诗</a></li>
 			<li><a class="mark_item" href="/mark/sixiangshi">思乡诗</a></li>
 		</ul>
 		<a href="/mark" class="more">更多>></a>
 	</div>
 	<!-- 景物标签 -->
 	<div class="view sidebar_item">
 		<h2 class="title">景物标签</h2>
 		<ul class="view_content clearfix">
 			<li><a class="mark_item" href="/mark/miaoxiechuntian">描写春天</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiexiatian">描写夏天</a></li>
 			<li><a class="mark_item" href="/mark/miaoxieqiutian">描写秋天</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiedongtian">描写冬天</a></li>
 			<li><a class="mark_item" href="/mark/miaoxieyu">描写雨</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiexue">描写雪</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiefeng">描写风</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiehua">描写花</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiemeihua">描写梅花</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiehehua">描写荷花</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiejuhua">描写菊花</a></li>
 			<li><a class="mark_item" href="/mark/miaoxieliu">描写柳</a></li>
 			<li><a class="mark_item" href="/mark/miaoxieyueliang">描写月亮</a></li>
 			<li><a class="mark_item" href="/mark/miaoxiema">描写马</a></li>
 		</ul>
 		<a href="/mark" class="more">更多>></a>
 	</div>
 	<!-- 年代诗人 -->
 	<div class="years sidebar_item">
 		<h2 class="title">年代诗人</h2>
 		<ul class="years_content">
 			<li><a class="mark_item" href="/category/xianqin">先秦</a></li>
 			<li><a class="mark_item" href="/category/hanchao">汉朝</a></li>
 			<li><a class="mark_item" href="/category/weijin">魏晋</a></li>
 			<li><a class="mark_item" href="/category/nanbeichao">南北朝</a></li>
 			<li><a class="mark_item" href="/category/suichao">隋朝</a></li>
 			<li><a class="mark_item" href="/category/tangdai">唐代</a></li>
 			<li><a class="mark_item" href="/category/songdai">宋代</a></li>
 			<li><a class="mark_item" href="/category/jinchao">金朝</a></li>
 			<li><a class="mark_item" href="/category/liaochao">辽朝</a></li>
 			<li><a class="mark_item" href="/category/yuanchao">元朝</a></li>
 			<li><a class="mark_item" href="/category/mingchao">明朝</a></li>
 			<li><a class="mark_item" href="/category/qingchao">清朝</a></li>
 			<li><a class="mark_item" href="/category/jindangdai">近当代</a></li>
 		</ul>
 		<a href="/mark" class="more">更多>></a>
 	</div>     
 </div>